<!DOCTYPE html>
<!-- mapear Lances -->
 <!-- laces cabecera fijas
 entradas 199
 estaddis fijos -->

<html>
<head>
    <title>Simple Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

<div id="mapid" style="height: 400px;"></div>

<script>
    const lat = new URLSearchParams(window.location.search).get('lat');
    const lng = new URLSearchParams(window.location.search).get('lng');
    const id = new URLSearchParams(window.location.search).get('id');
    
    var map = L.map('mapid').setView([lat, lng], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    L.marker([lat, lng]).addTo(map)
        .bindPopup("Lance " + id)
        .openPopup();
</script>

</body>
</html>
